.post_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-top: 50px;
}

.post_container .body{
    margin-bottom: 10px;
}

.tags{
    display: flex;
    gap: 10px;
    color: rgba(255,255,255,0.4);
}